# Ignore all node_modules everywhere
**/node_modules/

# Ignore env files everywhere
**/.env

# Build outputs
**/dist/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*git branch -M main

# OS / Editor
.DS_Store
.vscode/
.idea/
